.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Grid div.row {
  height: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.Grid .patternLine {
  background-color: rgb(165, 162, 162) !important;
}
